{% extends "base.html" %}

{% block head %}
<title>TODO Flask</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 align="center">TODO Flask</h1>
    {% if tasks|length < 1%}
    <h4 align="center">There are no tasks, create one</h4>
    <form style="padding-bottom: 10px;" align="center" action="/" method="POST">
        <h3 align="center">Add a task</h3>
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>


    {% else %}
    <form style="padding-bottom: 10px;" align="center" action="/" method="POST">
        <h3 align="center">Add a task</h3>
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
    <hr class="solid">
    
    <table align="center">
        <tr>
            <th>Task &nbsp;&nbsp;</th>
            <th>Added &nbsp;&nbsp;</th>
            <th>Actions</th>            
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>{{ task.date_created.date() }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td style="padding-top: 5px; padding-bottom: 5px">
                <a href="/delete/{{ task.id }}">Delete</a>
                <br>
                <a href="/update/{{ task.id }}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}